*{
    box-sizing: border-box;
}
strong{
    font-weight: bold;
}
body{
    background-color:  #E5E5E5;;
}

header{
    width: 100%;
    background-color: #CF2B2B;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    top:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
h1{
    color: white;
    font-size:44px;
    font-family: 'Righteous', cursive;
    margin:10px 0 8px 20px;
}

h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0 0 10px 20px;
}
main{
    width: 100%;
    margin-top: 115px;
    margin-bottom: 115px;
}
section{
    
}

.box-opcoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x:scroll;
    margin-left: 12px;
}
.caixa-prato{
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 8px;
}
.caixa-prato img{
    width: 144px;
    height: 87px;
    border: 4px;
    margin: 12px;
}
h3{
    font-size: 26px;
    font-family: 'Righteous', cursive;
    color: #333333;
    margin:10px 0 10px 20px;

}
h4{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 5px 12px;

}

.caixa-prato p{
    width: 140px;
    font-family: 'Roboto', sans-serif;
    color:#A6A6A6;
    font-size: 15px;
    margin: 0 0 5px 12px;
}

/* SUCOS */

.caixa-suco{
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 8px;
}

.caixa-suco img{
    width: 144px;
    height: 87px;
    border: 4px;
    margin: 12px;
}

.caixa-suco p{
    width: 140px;
    font-family: 'Roboto', sans-serif;
    color:#A6A6A6;
    font-size: 15px;
    margin: 0 0 5px 12px;
}

/* SOBREMESAS */
.caixa-pudim{
    width: 172px;
    height: 216px;
    background-color: #ffffff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 8px;
}

.caixa-pudim img{
    width: 144px;
    height: 87px;
    border: 4px;
    margin: 12px;
}

.caixa-pudim p{
    width: 140px;
    font-family: 'Roboto', sans-serif;
    color:#A6A6A6;
    font-size: 15px;
    margin: 0 0 5px 12px;
}


/* .valor strong{
    color: #000000;
} */
.valor-sopa strong{
    color:#333333
}
.valor-sucos strong{
    color:#333333
}
.valor-pudim strong{
    color:#333333
}
footer{
    background-color: #ffffff;
    position: fixed;
    z-index: 4;
    height: 92px;
    bottom:0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.botao-fechar-pedido{
    text-align: center;
    background-color: #cbcbcb;
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    border-radius: 50px;
    border:none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;


}

h5{
    color: #ffffff;
    width: 200px;
    height: 53px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

.selecionado{
    border: 5px solid green;
    border-radius: 9px;

}
.check{
    color: green;
    font-size: 12px;
}

.ativo{
    background-color: green;
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    border-radius: 50px;
    border:none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    width: 200px;
    height: 53px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.escondido{
    display: none;
}